<p id="notice"><%= notice %></p>

<h1>
  <%= @beer_club.name %>
</h1>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

 <% if current_user and not current_user.memberships.any? { |m| m.beer_club == @beer_club } %>
   <%= form_for(@membership) do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value:"join the club" %>
   <% end %>
<% end %>

<h2> Members </h2>
  <ul>
    <% @beer_club.users.each do |user| %>
      <li>
        <%= link_to user.username, user_path(user.id) %>
      </li>
    <% end %>
  </ul>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) if current_user %>
<%= link_to 'Destroy', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } if current_user_admin? %>